.info-box{
    position: absolute;
    padding:0 8%;
    word-wrap: break-word;
    font-size: 1.2rem;
    right: 2%;
    top:5%;
    border: 2px solid white;
    border-radius: 10px;
    background: skyblue;
    transition: width 1s linear;
}

